---
import { FiExternalLink, FiGithub } from 'react-icons/fi'
import { PROJECTS } from '../../constants'
---

<section id="projects" class="bg-slate-900 mt-48">
  <div class="bg-slate-900 mx-8">
    <h2 class="text-2xl sm:text-4xl text-gray-200 font-medium text-center">PROJECTS</h2>
    <div class="mt-16 flex flex-col gap-32">
      {
        PROJECTS.map((project, index) => (
          <div class={`flex flex-col gap-8 ${index % 2 ? 'lg:flex-row-reverse' : 'lg:flex-row'}`}>
            <div class="flex-1 lg:p-0">
              <img class="w-full aspect-video object-contain pointer-events-none bg-gray-500 animate-pulse" />
            </div>
            <div
              class={`flex-1 text-center flex flex-col justify-center ${
                index % 2 ? 'lg:text-left' : 'lg:text-right'
              }`}
            >
              <h4 class="font-bold text-2xl">{project.title}</h4>
              <p class="mt-8">{project.description}</p>
              <div class="font-mono mt-8">
                {project.technologies.map((technology) => (
                  <a
                    href={technology.url}
                    rel="noreferrer"
                    target="_blank"
                    class="transition-all hover:opacity-75"
                  >
                    {technology.name} &nbsp;
                  </a>
                ))}
              </div>
              <div
                class={`flex flex-row justify-center  ${
                  index % 2 ? 'lg:justify-start' : 'lg:justify-end'
                } gap-4 mt-8`}
              >
                <a
                  href={project.siteUrl}
                  class="transition-all hover:opacity-75"
                  rel="noreferrer"
                  target="_blank"
                >
                  <FiExternalLink client:visible size="32px" />
                </a>
                {project.codeUrl && (
                  <a
                    href={project.codeUrl}
                    class="transition-all hover:opacity-75"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <FiGithub client:visible size="32px" />
                  </a>
                )}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
